@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200&family=IBM+Plex+Sans+Thai+Looped:wght@100&family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background: #dfdfe4;
}



/*header + nav*/
nav{
    grid-area: nav;
    text-align: center;
    background:  #344249;
    margin-bottom: -10px;
    
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    padding: 2px 100px;
    font-size: 1.5em;
    
}

nav a:hover{
    background-color:#D9C5B2  ;
    color: black;
    transition: 0.2s;
}

.header{
    text-align: center;
    grid-area: header ;
    height: 100%;
    background: url(/Images/banniere\ test.jpg);
    border-bottom: 5px solid #D9C5B2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 /**main et content*/
.header h1{
    font-size: 4em;
    color: #1b1e1f;
    text-transform: uppercase;
}
.header h3{
    font-size: 2.5em;
    color: #d9c5b2;
    text-transform: uppercase;
}


.container{   
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 0.8fr 0.8fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav nav "
    "header header header header header"
    "event event event event event"
    "inscription inscription lieu lieu lieu"
    "footer footer footer footer footer";
    grid-gap: 10px;
    font-size: 20px;
   
      
    }


    .event{
        grid-area: event;
        text-align: center;
    }

    .event h2{
        box-shadow: 0px 10px 20px -10px #586F7C;
        font-size: 2.5em;
    }

    .event p{
        margin: 20px;
        padding: 20px;
        text-align: center;
    }

/*formulaire*/


#inscription{
    grid-area: inscription;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

section#inscription .container2{
max-width: 1000px;
margin: 0px auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 30px 10px;
border-radius: 15px;
box-sizing: border-box;
box-shadow: 0px 10px 50px -10px #586F7C;
}
section#inscription .container2 .title{
    text-align: center;
    color: black;
    margin-top: 50px;
}
section#inscription .container2 .title h4{
    font-size: 2em;
    border-bottom: 5px solid #586F7C;
}
section#inscription .container2 form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;   
}
section#inscription .container2 form input{
    width: 48.5%;
   
}

section#inscription .container2 textarea{
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 30px;
}

section#inscription .container2 form input,
section#inscription .container2 textarea{
    margin: 15px 0;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
    border-bottom: 2px solid #586F7C;
    transition: 0.3s;

}

section#inscription .container2 form input:hover,
section#inscription .container2 textarea:hover{
    border-bottom: 2px solid #D9C5B2;

}



section#inscription .container2 form button{
    width: 190px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #D9C5B2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
}
section#inscription .container2 form button:hover{
    background-color: #586F7C;
    transition: 0.3s;
}




/*carte*/

.lieu{
    text-align: center;
    grid-area: lieu;
    margin-top: 1%
}
.lieu h3{
    font-size: 1.5em;
    box-shadow: 0px 10px 50px -10px #586F7C;
}

iframe{
    padding: 20px;
}
/*footer*/

footer{
    font-family: 'Roboto Slab', serif;
    grid-area: footer;
    background:  #344249;
}
footer h4{
    text-align: center;
    background: #D9C5B2;
    font-size: 1.5em;
    text-transform: uppercase;
}

footer ul li{
    display: inline-block;
    list-style: none;
    padding-top: 10px;
    padding: 50px;
    
}
footer ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
}
footer ul li img{
    padding-right: 20px;
    margin-top: 5px;
    padding-top: 5px;
}



@media only screen and (max-width:1310px){
 
    nav a{
        display: grid;
        border-bottom: solid 2px #D9C5B2;
    }
    footer ul li{
        display: block;
        padding: 10px;
    }

}


@media only screen and (max-width:1100px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.6fr 2fr 1fr 1fr 0.8fr;
        grid-template-areas:
        "nav"
        "header"
        "event"
        "inscription"
        "lieu"
        "footer";
    }
    nav a{
        display: grid;
         
    }

    

    footer h4{
        font-size: 1em;
    }

    footer ul li{
        display: block;
        padding: 10px;
    }

    footer ul li img{
        width: 16px;
        height: 16px;
    }
    footer ul li a{
        font-size: 16px;
        text-transform: none;
    }
}
textarea{
    resize: none;
}