@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200&family=IBM+Plex+Sans+Thai+Looped:wght@100&family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html{
    background-color: #297045 ;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #ECBA82;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #297045;
}
nav h1{
    color:#fff;
    font-family: 'Roboto Slab' sans-serif;
    font-size: 30px;
    
    
    
}
nav .onglets{
    margin-bottom: 8px;
    margin-left: 20px;
    
}
nav .onglets a{
    text-decoration: none;
    color: #ECBA82;
    margin-right: 8px;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/Images/banniere\ mountain.jpg);
    background-size: cover;
    color:#fff;
    padding: 40px;
    border-bottom: solid 5px #ECBA82;
    text-align: center;
}
header h1{
    font-family: 'Roboto Slab' sans-serif;
    font-size: 50px;
    color: #000;
    
    
}
header button{
    margin-top: 120px;
}
header h4{
    color: black;
    margin-top: 20px;
}
@media screen and (min-width:690px) {
    nav .onglets a{
        margin-left: 10px;
        font-size: 30px;

    }
    header{
        padding: 40px;
        
    }
    header h1{
        font-size: 50px;
    }
    header h4{
        font-size: 30px;
    }
    nav h1{
        font-size: 40px;
    }

    
}

@media screen and (min-width: 1000px) {
    nav .onglets a{
        margin-left: 10px;
        font-size: 30px;
        
    }
    header{
        padding: 100px;
    }
   header h1{
       font-size: 60px;
    }
    header h4{
        font-size: 40px;
    }
   nav h1{
       font-size: 50px;
   }
}

@media screen and (min-width: 1400px) {
    nav .onglets a{
        margin-left: 150px;
        font-size: 30px;
        
    }
    header{
        padding: 130px;
    }
   header h1{
       font-size: 60px;
    }
    header h4{
        font-size: 40px;
    }
   nav h1{
       font-size: 50px;
   }
}


