@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200&family=IBM+Plex+Sans+Thai+Looped:wght@100&family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
     
}

.container{
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 0.2fr 0.8fr 1fr 0.8fr 0.5fr;
grid-template-areas: 
"nav nav nav nav nav "
"header header header header header"
"main main main photo photo"
"content content . content2 content2"
"footer footer footer footer footer";
grid-gap: 10px;
font-size: 20px;
text-align: center;

}

nav{
    background:#59A96A ;
    grid-area: nav;
    border-bottom: solid ;
    
}
nav a{
    text-decoration: none;
    color: black;
   padding: 2px 20px;
   border-bottom: solid 2px;
}

.header{
    background:#9BDEAC ;
    grid-area: header ;
   
}
main{
    background:#B4E7CE ;
    grid-area: main;
}
.photo{
    background: #B4E7CE;
    grid-area: photo;
    
}
#content{
    background: #636940;
    grid-area: content;
}
#content2{
    background: #636940;
    grid-area: content2;
}
footer{
    background:#474A2C ;
    grid-area: footer;
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.6fr 2fr 1fr 1fr 1fr 0.8fr;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "photo"
        "content"
        "content2"
        "footer";
    }
    nav a{
        display: grid;
    }
}
